@use "../scss/variables" as *;

@font-face {
  font-family: "Marfa";
  src: url(../fonts/132a3c73002d795f-s.p.woff2);
}

@font-face {
  font-family: "Stroy";
  src: url(../fonts/aabfdd77d4dda7f6-s.p.woff2);
}

@font-face {
  font-family: "Marfa";
  src: url(../fonts/e57b2665b6721274-s.p.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: marfa;
  transition: 0.3s all ease;
  scroll-behavior: smooth;
}

.container {
  width: 93%;
  height: 100%;
  margin: 0 auto;
}

.row {
  width: 100%;
  height: 100%;
  display: flex;
}

img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.dashed {
  width: 100%;
  background-color: $bgColorDashed;
}

.btn {
  display: flex;
  align-items: center;
  gap: 10px;

  .arrow-right {
    width: 17px;
    height: 17px;
    padding-top: 4px;
  }
}

input,
select,
textarea {
  width: 100%;
  max-width: 100%;
  padding: 14px;
  border-radius: 7px;
  border-width: 1px;
  border-color: $black;
  background-color: inherit;
  font-size: 18px;
  opacity: 0.9;
}

@media (max-width: 992px) {
  input,
  select,
  textarea {
    font-size: 15px;
  }
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 9px;
  border: none;
  label {
    font-size: 17px;
    line-height: 23px;
    letter-spacing: -0.5px;
  }
}

@media (max-width: 992px) {
  fieldset {
    gap: 9px;
    label {
      font-size: 14px;
      line-height: 23px;
      letter-spacing: -0.5px;
    }
  }
}

.hidden {
  display: none !important;
}

main {
  display: flex;
  flex-direction: column;
  gap: 126px;
}

@media (max-width: 1200px) {
  main {
    gap: 108px;
  }
}

@media (max-width: 992px) {
  main {
    gap: 105px;
  }
}

@media (max-width: 768px) {
  main {
    gap: 43px;
  }
}

@media (max-width: 480px) {
  main {
    gap: 47px;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 94.7%;
  }
}

@media (max-width: 992px) {
  .container {
    width: 93.7%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 96%;
  }
}

@media (max-width: 480px) {
  .container {
    width: 93%;
  }
}

@media (max-width: 768px) {
  .btn {
    .arrow-right {
      width: 14px;
      height: 14px;
    }
  }
}
