$black:#100f14;
$pureWhite:#ffffff;
$white:#fcfcf7;
$lightGray:#fcfcf899;
$orange:#f23400;
$darkGray:#3f3e41;
$pink:#ffd6ec;
$blue:#3538e7;
$success:#008031;
$yellow:#f3fdbf;
$bgColorDashed:hsla(60, 45%, 98%, 0.2);
$grey:#100f1466;
$gray:#100f1433;
$lightColor: #ecede4;