//globals
@use"./base";

//components
@use"./components/header";
@use"./components/footer";
@use"./components/custom-button";
@use"./components/custom-contact";
@use"./components/loading";

//pages
@use"./pages/brand-intro";
@use"./pages/work-with-us";
@use"./pages/project-bundles";
@use"./pages/featured-work";
@use"./pages/hero";
@use"./pages/outcomes";
@use"./pages/project-outcome";
@use"./pages/work";
@use"./pages/shop-hero";
@use"./pages/shop-custom-project";
@use"./pages/shop-about";
@use"./pages/shop-products";
@use"./pages/shop-details";
@use"./pages/not-found";
@use"./pages/cart";
