@use "../variables" as *;

.custom-modal-overlay {
  position: fixed;
  inset: 0;
  background-color: $overlayColor;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; 
  backdrop-filter: blur(4px);
}

.custom-modal-content {
  background: $white; 
  padding: 24px;
  border-radius: 16px;
  max-width: 350px;
  width: 90%;
  text-align: center;
  //border: 1px solid #333;
}

.modal-title {
  color: $black;
  font-size: 1.25rem;
  margin-bottom: 12px;
}

.modal-message {
  color: #aaa;
  font-size: 0.95rem;
  margin-bottom: 24px;
  line-height: 1.5;
}

.modal-actions {
  display: flex;
  gap: 12px;
}

.modal-actions button {
  flex: 1;
  padding: 12px;
  border-radius: 9999px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
  border: none;
}

.modal-btn-cancel {
  background: $black;
  color: $white;
}

.modal-btn-cancel:hover {
  background: #444;
}

.modal-btn-confirm {
  background: $orange;
  color: $white;
}

.modal-btn-confirm:hover {
  background: #e63e3e;
}