@use "../variables" as *;
.footer {
  width: 100%;
  background: $black;
  padding: 50px 0;
  overflow: hidden;
  .container {
    .footer-top {
      padding-bottom: 42px;
      position: relative;
      .row {
        justify-content: space-between;
        background-color: $pink;
        padding: 30px 40px;
        border-radius: 60px;
        margin-bottom: 40px;
        .footer-top-title {
          color: $orange;
          font-size: 41px;
        }
      }
      .underline {
        color: hsla(60, 45%, 98%, 0.2);
        position: absolute;
        left: -53px;
        right: -53px;
      }
    }
    .footer-bottom {
      .grid {
        display: grid;
        gap: 40px;
        row-gap: 60px;
        //grid-template-columns: repeat(2, minmax(0,1fr));
        .bottom-top {
          width: 100%;
          display: flex;
          padding-top: 20px;
          justify-content: space-between;
          .footer-subscribe {
            width: 50%;
            .form-title {
              color: $lightGray;
              font-size: 19px;

              padding-bottom: 20px;
              span {
                text-decoration-line: underline;
              }
            }
            form {
              border: 1px solid $lightGray;
              border-radius: 50px;
              display: flex;
              align-items: center;
              padding: 5px;
              .footer-input {
                width: 100%;
                border-style: none;
                flex: 1;
                background: none;
                border: none;
                //background-color: $black!important;
                color: $pureWhite;
                font-size: 15px;
                padding: 10px 20px;
                border-radius: 20px;

                &::placeholder {
                  color: $lightGray;
                }

                &:focus {
                  outline: none;
                }
              }
              .footer-btn {
                background-color: $pureWhite;
                border: none;
                border-radius: 30px;
                width: 66px;
                height: 46px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: 0.3s ease;
                .arrow-right {
                  width: 20px;
                  height: 20px;
                  color: $black;
                }
                &:hover {
                  background-color: $lightGray;
                }
              }
            }
          }
          .footer-navbar {
            width: 36%;
            display: grid;
            grid-template-columns: repeat(4, minmax(0, 1fr));
            gap: 40px;
            column-gap: 40px;
            a {
              color: $lightGray;
              font-size: 19px;
              &:hover {
                color: $white;
              }
            }
            .nav-item {
              display: flex;
              flex-direction: column;
              gap: 10px;
            }
          }
        }
        .info {
          display: flex;
          gap: 10px;
          padding-top: 80px;
          .footer-logo {
            width: 100%;
            .color-white {
              width: 100%;
              max-width: 100%;
              color: $pureWhite;
            }
          }
          .row {
            justify-content: flex-end;
            align-items: end;
            gap: 15px;
            font-size: 15px;
            .list {
              display: flex;
              gap: 15px;
              .item {
                color: $lightGray;
                &:hover {
                  color: white;
                }
              }
            }
            .title {
              color: $lightGray;
              &:hover {
                color: white;
              }
            }
          }
        }
      }
      .underline {
        color: hsla(60, 45%, 98%, 0.2);
      }
    }
  }
}

@media (max-width: 1024px) {
  .footer {
    padding: 45px 0;
    .container {
      .footer-top {
        padding-bottom: 42px;
        position: relative;
        .row {
          justify-content: space-between;
          background-color: $pink;
          padding: 22px;
          border-radius: 22px;
          gap: 30px;
          .footer-top-title {
            text-wrap: balance;
            font-size: 37px;
          }
          .btn {
            font-size: 18px;
            flex: 0 0 auto;
          }
        }
      }
      .footer-bottom {
        .grid {
          display: grid;
          gap: 40px;
          row-gap: 60px;
          //grid-template-columns: repeat(2, minmax(0,1fr));
          .bottom-top {
            width: 100%;
            display: flex;
            padding-top: 20px;
            justify-content: space-between;
            .footer-subscribe {
              width: 50%;
              .form-title {
                font-size: 17px;
              }
            }
            .footer-navbar {
              width: 36%;
              display: grid;
              grid-template-columns: repeat(2, minmax(0, 1fr));
              gap: 10px;
              column-gap: 40px;
              a {
                font-size: 16px;
              }
            }
          }
          .info {
            display: flex;
            gap: 15px;
            padding-top: 80px;
            .color-white {
              width: 100%;
            }
            .row {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 45px 0;
    .container {
      .footer-top {
        padding-bottom: 42px;
        .row {
          flex-direction: column;
          gap: 25px;
          .footer-top-title {
            text-wrap: balance;
            font-size: 29px;
          }
          .footer-btn {
            .btn {
              font-size: 15px;
              line-height: 21px;
              letter-spacing: -0.4px;
            }
          }
        }
      }
      .footer-bottom {
        .grid {
          display: grid;
          gap: 0px;
          row-gap: 0px;
          .bottom-top {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding-top: 20px;
            .footer-subscribe {
              width: 100%;
              .form-title {
                font-size: 17px;
              }
            }
            .footer-navbar {
              width: 50%;
              display: grid;
              grid-template-columns: repeat(2, minmax(0, 1fr));
              gap: 10px;
              column-gap: 50px;
              a {
                font-size: 15px;
              }
            }
          }
          .info {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding-top: 40px;
            .color-white {
              width: 100%;
            }
            .row {
              flex-direction: column;
              align-items: center;
              justify-content: center;
              gap: 14px;
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 35px 0;
    .container {
      .footer-top {
        .row {
          flex-direction: column;
          gap: 25px;
          .footer-top-title {
            text-wrap: balance;
            font-size: 32px;
          }
          .footer-btn {
            .btn {
              font-size: 16px;
              line-height: 21px;
              letter-spacing: -0.4px;
            }
          }
        }
      }
      .footer-bottom {
        .grid {
          .bottom-top {
            .footer-subscribe {
              .form-title {
                font-size: 18px;
              }
            }
            .footer-navbar {
              width: 100%;
              display: grid;
              grid-template-columns: repeat(2, minmax(0, 1fr));
              gap: 10px;
              column-gap: 30px;
              a {
                font-size: 16px;
              }
            }
          }
          .info {
            gap: 15px;
            padding-top: 50px;
            .color-white {
              width: 100%;
            }
            .row {
              gap: 17px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

