@use "../variables" as *;

.header {
  width: 100%;
  position: fixed;
  top: 30px;
  z-index: 1000;
  .container {
    .row {
      justify-content: center;
      align-items: center;
      gap: 10px;
      .left-side {
        display: flex;
        justify-content: space-between;
        gap: 60px;
        width: 550px;
        background-color: $black;
        padding: 6px 8px 6px 22px;
        border-radius: 10px;
        .logo {
          width: 90px;
          a {
            color: $pureWhite;
          }
        }
        .nav-bar {
          display: flex;
          .nav-list {
            display: flex;
            gap: 30px;
            align-items: center;
            .nav-item {
              a {
                color: $lightGray;
                font-size: 19px;
                &:hover {
                  color: $white;
                }
              }
            }
          }
        }
        .lets-work {
          display: flex;
          align-items: center;
          padding: 10px 24px;
          border-radius: 8px;
          border: 1px solid $darkGray;
          background: $darkGray;
          color: $white;
          font-size: 18px;
          &:hover {
            background-color: $orange;
            border: 1px solid $orange;
          }
        }
      }
      .right-side {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        .cart-btn {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 50px;
          border-radius: 10px;
          background-color: $black;
          border: none;
          cursor: pointer;
          &:hover .cart {
            transform: scale(1.2);
          }
          .cart {
            display: inline-block;
            margin-top: -4px;
            font-size: 23px;
            cursor: pointer;
            transition: transform 0.3s ease;
          }
          .count{
            position: absolute;
            top:-5px;
            right: -5px;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $orange;
            border-radius: 9999px;
            color: $white;
            font-size: 14px;
          }
        }
      }
    }
    .cart-window {
      width: 100vw;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      position: fixed;
      inset: 0;
      opacity: 0;
      visibility: hidden;
       transform: translateX(100%);
      z-index: 99;
      &.open {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
      }
      .overlay {
        background-color: $overlayColor;
        position: absolute;
        inset: 0;
        z-index: 0;
        width: 100%;
      }
      .cart-box {
        width: 467px;
        height: 100dvh;
        padding: 31px;
        background-color: $white;
        z-index: 10;
        border-top-left-radius: 23px;
        border-bottom-left-radius: 23px;
        display: flex;
        flex-direction: column;
        gap: 23px;
        overflow: hidden;
        .cart-head {
          display: flex;
          flex-direction: column;
          gap: 24px;
          .row {
            justify-content: space-between;
            .head-title {
              font-size: 47px;
            }
            .window-close {
              cursor: pointer;
              width: 39px;
              height: 39px;
            }
          }
        }
        .empty {
          display: flex;
          flex-direction: column;
          gap: 16px;
          padding: 31px 0;
          .row {
            flex-direction: column;
            gap: 8px;
            align-items: start;
            .empty-info {
              font-size: 27px;
              line-height: 31px;
              letter-spacing: -1.3px;
              font-family: stroy;
              font-weight: 500;
            }
            .empty-text {
              font-size: 15px;
              line-height: 20px;
              letter-spacing: -0.4px;
            }
          }
          a{
            button{
              width: 100%;
            }
          }
        }
        .cart-product {
          display: flex;
          flex-direction: column;
          gap: 16px;
          overflow-y: auto;
          scrollbar-width: none;
          .dashed {
            padding-bottom: 12px;
          }
          .products {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .product {
              display: flex;
              align-items: center;
              gap: 16px;
              color: $black;
              .product-img {
                display: flex;
                flex-shrink: 0;
                width: 78px;
                height: 78px;
                img {
                  border-radius: 8px;
                }
              }
              .right-side {
                width: 100%;
                padding-right: 8px;
                .top {
                  width: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  gap: 16px;
                  .cart-info {
                    a {
                      color: $black;
                      .title {
                        font-size: 18px;
                        line-height: 23px;
                        letter-spacing: -0.5px;
                        &:hover {
                          text-decoration-line: underline;
                          opacity: 0.4;
                        }
                      }
                    }
                  }
                  .delete {
                    cursor: pointer;
                    border: none;
                    background-color: inherit;
                    opacity: 0.4;
                    &:hover {
                      opacity: 1;
                    }
                    .remove-svg {
                      width: 16px;
                      height: 16px;
                    }
                  }
                }
                .cart-price {
                  font-size: 14px;
                  line-height: 20px;
                  letter-spacing: -0.7px;
                  color: $grey;
                  font-family: stroy;
                }
              }
            }
          }
        }
        .cart-bottom {
          display: flex;
          flex-direction: column;
          gap: 16px;
          margin-top: auto;
          .total-price {
            display: flex;
            gap: 16px;
            justify-content: space-between;
            align-items: center;
            text-transform: uppercase;
            font-size: 20px;
            letter-spacing: -1px;
            line-height: 23px;
            span {
              font-family: stroy;
            }
          }
          .text {
            width: 100%;
            text-align: center;
            font-size: 15px;
            line-height: 20px;
            letter-spacing: -0.4px;
          }
          a{
            button{
              width: 100%;
            }
          }
        }
      }
    }
    .menu-panel {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .header {
    top: 8px;
    .container {
      .row {
        display: none;
      }
      .menu-panel {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        background-color: $black;
        padding: 4px 8px 4px 8px;
        border-radius: 8px;
        z-index: 600;
        .logo {
          width: 90px;
          display: flex;

          a {
            color: $pureWhite;
            svg {
              width: 90px;
              max-width: 82px;
            }
          }
        }
        .right-side {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          .cart-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            background-color: $black;
            border: none;
            cursor: pointer;
            &:hover .cart {
              transform: scale(1.2);
            }
            .cart {
              display: inline-block;
              margin-top: -4px;
              font-size: 20px;
              cursor: pointer;
              transition: transform 0.3s ease;
            }
          }
        }
      }
      .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100dvh;
        z-index: 500;
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 36px;
        justify-content: flex-end;
        background-color: $black;
        color: $white;
        overflow-y: scroll;
        .nav-bar {
          padding-top: 73px;
          display: flex;
          flex-direction: column;
          gap: 18px;
          .nav-list {
            display: flex;
            flex-direction: column;
            gap: 18px;
            .nav-item {
              a {
                color: $white;
                font-size: 30px;
                line-height: 32px;
                letter-spacing: -1.5px;
                &:hover {
                  text-decoration: underline;
                }
              }
              &.lets-work {
                display: flex;
                align-items: center;
                gap: 15px;
                .lets-work-svg {
                  padding: 11px;
                  background-color: $orange;
                  border-radius: 9999px;
                  height: 34px;
                  width: 34px;
                  display: inline-flex;
                  justify-content: center;
                  align-items: center;
                  cursor: pointer;
                  .arrow-right {
                    width: 18px;
                  }
                }
              }
            }
          }
        }
        .social-links {
          display: flex;
          flex-direction: column;
          gap: 22px;
          .list {
            display: flex;
            flex-direction: column;
            gap: 4px;
            .item {
              display: flex;
              flex-direction: column;
              gap: 7px;
              .link-title {
                font-size: 14px;
                color: $lightGray;
                line-height: 18px;
                letter-spacing: -0.4px;
              }
              a {
                color: $white;
                text-decoration: underline;
                font-size: 19px;
                line-height: 22px;
                letter-spacing: -0.5px;
                &:hover {
                  color: $lightGray;
                }
              }
              .flex {
                display: flex;
                gap: 15px;
              }
            }
          }
        }
        .bottom {
          color: $lightGray;
          .text {
            font-size: 13px;
            text-align: center;
            line-height: 15px;
            letter-spacing: -0.3px;
          }
        }
      }
    }
  }
}
