@use "../variables" as *;

.header {
  width: 100%;
  //margin-top: 30px;
  position: fixed;
  top: 30px;
  z-index: 1000;
  .container {
    .row {
      justify-content: center;
      align-items: center;
      gap: 10px;
      .leftSide {
        display: flex;
        justify-content: space-between;
        gap: 60px;
        width: 550px;
        background-color:$black;

        //height: 50px;
        padding: 6px 8px 6px 22px;
        border-radius: 10px;
        .logo {
          width: 90px;
          a {
            color: $pureWhite;
          }
        }
        .navBar {
          display: flex;
          .navList {
            display: flex;
            gap: 30px;
            align-items: center;
            .navItem {
              a {
                color: $lightGray;
                font-size: 19px;
                &:hover {
                  color: $white;
                }
              }
            }
          }
        }
        .letsWork {
          display: flex;
          align-items: center;

          padding: 10px 24px;
          border-radius: 8px;
          background: $darkGray;
          &:hover {
            background-color: $orange;
          }
          a {
            color: $white;
          }
        }
      }
      .rightSide {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        .cartBtn {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 50px;
          border-radius: 10px;
          background-color: $black;
          border: none;
          cursor: pointer;
          &:hover .cart {
            transform: scale(1.2);
          }
          .cart {
            display: inline-block;
            margin-top: -4px;
            font-size: 23px;
            cursor: pointer;
            transition: transform 0.3s ease;
          }
        }
      }
    }
  }
}
