@use "../variables" as *;
.cart-contact {
  position: relative;
  width: 100%;
  padding-top: 162px;
  padding-bottom: 90px;
  .empty {
    width: 100%;
    color: $black;
    .row {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 18px;
      .empty-title {
        font-size: 72px;
        font-weight: 700;
        font-family: stroy;
        letter-spacing: -3.6px;
        text-transform: uppercase;
      }
      .empty-text {
        font-size: 19px;
      }
    }
  }
  .cart-right-bg-color {
    display: block;
    width: 50%;
    background-color: $lightColor;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }
  .container {
    .grid {
      position: relative;
      width: 100%;
      max-width: 1440px;
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 54px;
      margin-left: auto;
      margin-right: auto;
      .contact-cart {
        display: flex;
        flex-direction: column;
        gap: 36px;
        max-width: 648px;
        padding-right: 54px;
        .contact-cart-title {
          text-transform: uppercase;
          font-size: 72px;
          letter-spacing: -3.6px;
          line-height: 1.05;
          font-weight: 700;
          font-family: stroy;
        }
        .cart-list {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          gap: 27px;
          .list-item {
            display: flex;
            align-items: center;
            gap: 14px;
            .stage {
              font-size: 14px;
              line-height: 18px;
              letter-spacing: -0.4px;
              background-color: $black;
              color: $white;
              width: 22px;
              height: 22px;
              border-radius: 9999px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .info {
              color: $black;
              font-size: 18px;
              margin-bottom: -3px;
            }
          }
        }
        .border {
          border-bottom: 1px solid $grey;
        }
        .products {
          display: flex;
          flex-direction: column;
          gap: 20px;
          .product {
            display: flex;
            align-items: center;
            gap: 16px;
            color: $black;
            .product-img {
              display: flex;
              flex-shrink: 0;
              width: 78px;
              height: 78px;
              img {
                border-radius: 8px;
              }
            }
            .right-side {
              width: 100%;
              padding-right: 8px;
              .top {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 16px;
                .cart-info {
                  a {
                    color: $black;
                    .title {
                      font-size: 18px;
                      line-height: 23px;
                      letter-spacing: -0.5px;
                      &:hover {
                        text-decoration-line: underline;
                        opacity: 0.4;
                      }
                    }
                  }
                }
                .delete {
                  cursor: pointer;
                  border: none;
                  background-color: inherit;
                  opacity: 0.4;
                  &:hover {
                    opacity: 1;
                  }
                  .remove-svg {
                    width: 16px;
                    height: 16px;
                  }
                }
              }
              .cart-price {
                font-size: 14px;
                line-height: 20px;
                letter-spacing: -0.7px;
                color: $grey;
                font-family: stroy;
              }
              .counter {
                display: flex;
                gap: 6px;
                align-items: center;
                font-size: 12px;
                font-weight: 600;
                .counter-btn {
                  border-color: $grey;
                  border-radius: 5px;
                  width: 18px;
                  height: 18px;
                  color: $black;
                  cursor: pointer;
                }
              }
            }
          }
        }
        .contact-cart-bottom {
          position: relative;
          display: flex;
          flex-direction: column;
          gap: 18px;
          .total-price {
            display: flex;
            gap: 16px;
            justify-content: space-between;
            align-items: center;
            text-transform: uppercase;
            font-size: 24px;
            letter-spacing: -1px;
            line-height: 23px;
            span {
              font-family: stroy;
            }
          }
          .cart-link {
            display: block;
            text-align: center;
            margin-top: 18px;

            a {
              color: $black;
              text-decoration-line: underline;
              font-size: 18px;
              line-height: 27px;
              letter-spacing: -0.5px;
              display: inline-flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              gap: 18px;
              .arrow-right {
                background-color: $black;
                color: $white;
                padding: 9px;
                width: 36px;
                height: 36px;
                margin-top: 2px;
                border-radius: 9999px;
              }
            }
          }
        }
      }
      .contact-form {
        padding: 54px;
        .row {
          display: flex;
          flex-direction: column;
          gap: 27px;
          .form {
            display: flex;
            flex-direction: column;
            gap: 27px;
            .form-group {
              display: grid;
              grid-template-columns: repeat(2, minmax(0, 1fr));
              gap: 18px;
            }
            fieldset {
              textarea {
                width: 100%;
                min-height: 216px;
              }
              .error-msg {
                color: $orange;
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .cart-contact {
    padding-top: 136px;
    padding-bottom: 76px;
    margin-bottom: -80px;
    .empty {
      padding-top: 30px;
      padding-bottom: 120px;
      .row {
        gap: 15px;
        .empty-title {
          font-size: 60px;
          letter-spacing: -3px;
        }
        .empty-text {
          font-size: 17px;
        }
      }
    }
    .cart-right-bg-color {
      display: none;
    }
    .container {
      width: 100%;
      .grid {
        max-width: 1211px;
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 45px;
        .contact-cart {
          gap: 30px;
          max-width: 635px;
          padding-left: 30px;
          padding-right: 30px;
          .contact-cart-title {
            font-size: 60px;
            letter-spacing: -3px;
          }
          .contact-cart-bottom {
            .total-price {
              gap: 15px;
              font-size: 19px;
              letter-spacing: -0.9px;
              line-height: 22px;
              span {
                font-family: stroy;
              }
            }
          }
        }
        .contact-form {
          background-color: $lightColor;
          padding: 60px 30px;
          .row {
            gap: 23px;
            .form {
              gap: 23px;
              .form-group {
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                gap: 15px;
              }
              fieldset {
                textarea {
                  width: 100%;
                  min-height: 181px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .cart-contact {
    .empty {
      width: 90%;
      margin: 0 auto;
      padding-top: 30px;
      padding-bottom: 120px;
      .row {
        gap: 15px;
        .empty-title {
          font-size: 56px;
          letter-spacing: -2.8px;
        }
        .empty-text {
          font-size: 17px;
        }
      }
    }
    .container {
      .grid {
        .contact-cart {
          gap: 30px;
          max-width: 635px;
          padding-left: 15px;
          padding-right: 15px;
          .contact-cart-title {
            font-size: 58px;
          }
        }
        .contact-form {
          background-color: $lightColor;
          padding: 50px 15px;
          .row {
            .form {
              .form-group {
                grid-template-columns: repeat(1, minmax(0, 1fr));
              }
            }
          }
        }
      }
    }
  }
}
