@use "../variables" as *;

.not-found {
  width: 100%;
  min-height: 795px;
  padding-top: 162px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 38px;

  .swiper {
    max-width: 100%;
    .swiper-wrapper {
      transition-timing-function: linear !important;
      display: flex;
      max-width: 100%;
      text-transform: uppercase;
      //letter-spacing: -11px !important;
      line-height: 1.05;
      white-space: nowrap;
      .swiper-slide {
        width: auto !important;
        padding-right: 90px;
        h1 {
          font-family: stroy;
          font-weight: 600;
          font-size: 200px;
          color: $black;
        }
      }
    }
  }
  .text {
    font-size: 23px;
    color: $black;
    line-height: 27px;
    letter-spacing: -1.1px;
    text-align: center;
    text-wrap: balance;
    max-width: 648px;
  }
}

@media (max-width: 768px) {
  .not-found {
    padding-top: 102px;
    padding-bottom: 72px;
    gap: 30px;
    .swiper {
      .swiper-wrapper {
        .swiper-slide {
          padding-right: 30px;
          h1 { 
            font-weight: 700;
            font-size: 80px;
          }
        }
      }
    }
    .text {
      font-size: 19px;
      line-height: 22px;
      letter-spacing: -0.9px;
      max-width: 525px;
    }
  }
}
