@use "../variables" as *;

.shop-custom-project {
  width: 100%;
  .container {
    .row {
      background-color: $lightColor;
      color: $black;
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      padding: 54px;
      border-radius: 27px;
      align-items: center;
      gap: 36px;
      width: 100%;
      max-width: 2160px;
      .left-side {
        display: flex;
        flex-direction: column;
        gap: 27px;
        max-width: 648px;
        align-items: flex-start;
        .title {
          font-size: 73px;
          text-transform: uppercase;
          line-height: 1.05;
          letter-spacing: -3.5px;
          font-family: stroy;
        }
        .left-side-bottom {
          display: flex;
          flex-direction: column;
          gap: 45px;
          .text {
            opacity: 0.8;
            font-size: 19px;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .shop-custom-project {
    .container {
      .row {
        padding: 46px;
        border-radius: 24px;
        gap: 31px;
        max-width: 1860px;
        .left-side {
          gap: 23px;
          max-width: 558px;
          .title {
            font-size: 62px;
            letter-spacing: -3px;
          }
          .left-side-bottom {
            gap: 39px;
            .text {
              font-size: 17px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .shop-custom-project {
    .container {
      .row {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        padding: 45px;
        border-radius: 23px;
        gap: 30px;
        max-width: 1816px;
        .left-side {
          gap: 23px;
          max-width: 545px;
          .title {
            font-size: 61px;
            letter-spacing: -3px;
          }
          .left-side-bottom {
            gap: 38px;
            .text {
              font-size: 17px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .shop-custom-project {
    .container {
      .row {
        padding: 29px;
        border-radius: 22px;
        gap: 30px;
        max-width: 1752px;
        .left-side {
          gap: 22px;
          max-width: 526px;
          .title {
            font-size: 37px;
            letter-spacing: -1.8px;
            line-height: 36px;
          }
          .left-side-bottom {
            gap: 36px;
            .text {
              font-size: 16px;
            }
          }
        }
        img {
          order: -1;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .shop-custom-project {
    .container {
      .row {
        padding: 32px;
        border-radius: 24px;
        gap: 32px;
        max-width: 1918px;
        .left-side {
          gap: 24px;
          max-width: 576px;
          .title {
            font-size: 40px;
            letter-spacing: -2px;
            line-height: 40px;
          }
          .left-side-bottom {
            gap: 40px;
            .text {
              font-size: 17px;
            }
          }
        }
      }
    }
  }
}